body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
.orange-colour{
    color: orange;
}
.first-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-position: left;
    background-repeat: no-repeat;
}
.fifty-percent{
    width: 50%;
    padding: 5%;
}
.fifty-percent img{
    width: 70%;
}
.call-me{
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    background-image: radial-gradient(green, red);
    font-weight: 800;
    color: darkorange;
}
.second-section{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 8%;
}
.ex{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-size: 170px;
    background-position: left;
    background-repeat: no-repeat;
    padding: 50px;

}
.hi{
    box-shadow: 10px 10px 50px green;
    padding: 60px;
    width: 45%;
    margin: 5%;
}
#am{
    border-left: 10px solid green;
}
#pm{
    border-left: 10px solid black;
}
footer p{text-align: center;}