body{
    font-family: 'Oswald', sans-serif;
}
.orange-colour{
    color: orange;
}
.first-section{
    display: flex;
}
.fifty-percent{
    width: 50%;
    padding: 5%;
}
.fifty-percent img{
    width: 70%;
}
.call-me{
    color: antiquewhite;
    background-color: brown;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
}